.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image.td {
   
      vertical-align: middle;
    
  }
  
  .table-image.th{
   
    vertical-align: middle;
  
}

p{
    margin-left: 511px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

#addd{
    margin-left: 70px;
}