<div class="signup-container">
  <div class="left-container">
    <h1>
      EXCHANGING TOY
    </h1>
    <div class="puppy">
      <img src="assets/Toy.png"/>
    </div>
  </div>

  <div class="right-container">

    <header>
      <div class="d-flex justify-content-center">
      <div class="pets-gender">
        <label for="pet-gender-female">Book or Toy</label>
        <div class="radio-container">
          <input id="Book" name="pet-gender" type="radio" value="female">
          <label for="Book">Book</label>
          <input id="Toy" name="pet-gender" type="radio" value="male">
          <label for="Toy">Toy</label>
        </div>
      </div>
    </div>
      <div class="set">
        <div class="pets-name">
          <label for="pets-name">Name</label>
          <input id="pets-name" placeholder="Pet's name" type="text">
        </div>
        <div class="pets-photo">
          <button id="pets-upload">
            <i class="fas fa-camera-retro"></i>
          </button>
          <label for="pets-upload">Upload a photo</label>
        </div>
      </div>
      <div class="set">
        <div class="pets-breed">
          <label for="pets-breed">Description</label>
          <input id="pets-breed" placeholder="Toy's Description" type="text">
        </div>
        <div class="pets-birthday">
          <label for="pets-birthday">Category</label>
          <select class="form-select" aria-label="Default select example">
            <option value="1">Scolaire</option>
            <option value="2">Roman</option>
            <option value="3">Scientifique</option>
            <option value="3">Dictionnaire</option>
            <option value="3">Histoire</option>
          </select>
        </div>
      </div>
      <div class="set">


      </div>
      <div class="pets-weight">
        <label for="pet-weight-0-25">Shape</label>
        <div class="radio-container">
          <input id="pet-weight-0-25" name="pet-weight" type="radio" value="0-25">
          <label for="pet-weight-0-25">Bad</label>
          <input id="pet-weight-25-50" name="pet-weight" type="radio" value="25-50">
          <label for="pet-weight-25-50">Not Bad</label>
          <input id="pet-weight-50-100" name="pet-weight" type="radio" value="50-100">
          <label for="pet-weight-50-100">Good</label>
          <input id="pet-weight-100-plus" name="pet-weight" type="radio" value="100+">
          <label for="pet-weight-100-plus">New</label>
        </div>
      </div>
    </header>
    <footer>
      <div class="set">
        <button id="back">Back</button>
        <button id="next">Next</button>
      </div>
    </footer>
  </div>
</div>
