<div class="signup-container" *ngIf="stat;">
  <!-----------------Toy Form-->
  <div class="left-container" *ngIf="ToySelection; else book3">
    <h1>
      EXCHANGING TOY
    </h1>
    <div class="puppy">
      <img src="assets/toy2.jpg"/>
    </div>
  </div>
  <!------------------Book Form-->
  <ng-template #book3 >

    <div class="left-container" >
      <h1>
        EXCHANGING Book
      </h1>
      <div class="puppy">
        <img src="assets/books.jpg"/>
      </div>
    </div>
  </ng-template>
  <!-------->

  <div class="right-container">
    <form (ngSubmit)="onSubmit()" #f="ngForm" >
    <header>

      <div class="d-flex justify-content-center">
      <div class="pets-gender">
        <label for="pet-gender-female">Book or Toy</label>
        <div class="radio-container">
          <input id="Book" name="pet-gender" type="radio" value="Book" (click)="bookSelected()">
          <label for="Book">Book</label>
          <input id="Toy" name="pet-gender" type="radio" value="Toy" checked (click)="toySelected()">
          <label for="Toy">Toy</label>
        </div>
      </div>
    </div>
                      <!-------------------Toy Form---------->
      <div class="set" *ngIf="ToySelection; else book" >
        <div class="pets-name">
          <label for="pets-name">Name</label>
          <input required id="pets-name" placeholder="Toy's name" type="text" ngModel name="Name" #name="ngModel">
          <span class="help-block" *ngIf="!name.valid && name.touched">Name is required</span>
        </div>
        <div class="pets-photo">
          <button id="pets-upload">
            <i class="fas fa-camera-retro"></i>
          </button>
          <label for="pets-upload">Upload a photo</label>
        </div>
      </div>
                  <!------------ Book Form ----------->
      <ng-template #book>
      <div class="set" >
        <div class="pets-name">
          <label for="pets-name">Book Title</label>
          <input required id="pets-name" placeholder="Title Book" type="text" ngModel name="Title" #name="ngModel">
          <span class="help-block" *ngIf="!name.valid && name.touched">Name is required</span>
        </div>
        <div class="pets-photo">
          <button id="pets-upload">
            <i class="fas fa-camera-retro"></i>
          </button>
          <label for="pets-upload">Upload a photo</label>
        </div>
      </div>
      <div class="set" >
        <div class="pets-name">
          <label for="pets-name">Book Author</label>
          <input required id="pets-name" placeholder="Author Book" type="text" ngModel name="Author" #author="ngModel">
          <span class="help-block" *ngIf="!author.valid && author.touched">Author is required</span>
        </div>
        <div class="pets-name">
          <label for="pets-name">Publishing House</label>
          <input required id="pets-name" placeholder="Book's Publishing house" type="text" ngModel name="PublishingHouse" #house="ngModel">
          <span class="help-block" *ngIf="!house.valid && house.touched">Publishing House is required</span>
        </div>

      </div>
    </ng-template>

      <!------------------------ Toy Form -------->

      <div class="set" *ngIf="ToySelection; else book2">
        <div class="pets-breed">
          <label for="pets-breed">Description</label>
          <textarea required placeholder="Describe your toy " id="Description" ngModel name="Description" #description="ngModel"></textarea>
          <span class="help-block" *ngIf="!description.valid && description.touched">Description  is required</span>
        </div>
        <div class="pets-birthday"  >
          <label for="pets-birthday">Category</label>
          <select  required class="form-select"  ngModel name="CategoryToy" #category="ngModel">
            <option value="" disabled selected>Select your Toy's Category</option>
            <option value="Society">Society</option>
            <option value="Educative">Educative</option>
            <option value="Awkening">Awkening</option>
            <option value="Puzzle">Puzzle</option>
            <option value="Exterior">Exterior</option>
            <option value="Imitation">Imitation</option>
          </select>
          <span class="help-block" *ngIf="!category.valid && category.touched">category is required</span>
        </div>
      </div>
      <!---------------- Book Form ------------------------>
      <ng-template #book2 >
      <div class="set">
        <div class="pets-birthday"  >
          <label for="pets-birthday">Category</label>
          <select required class="form-select"  ngModel name="CategoryBook"  #category="ngModel">
            <option value="" disabled selected>Select your Book's Category</option>
            <option value="Academic">Academic</option>
            <option value="Novel">Novel</option>
            <option value="Scientific">Scientific</option>
            <option value="Dictionary">Dictionary</option>
            <option value="Art">Art</option>
            <option value="History">History</option>
          </select>
          <span class="help-block" *ngIf="!category.valid && category.touched">category is required</span>
        </div>
      </div>
    </ng-template>
      <!------------------------- Toy Form -->
      <div class="pets-weight" *ngIf="ToySelection; else book4">
        <label>Shape Of The Toy</label>
        <div class="radio-container">
          <input id="BadToy" name="ShapeToy" type="radio" value="Bad" ngModel required>
          <label for="BadToy">Bad</label>
          <input id="AcceptableToy" name="ShapeToy" type="radio" value="Acceptable" ngModel >
          <label for="AcceptableToy">Acceptable</label>
          <input id="GoodToy" name="ShapeToy" type="radio" value="Good" ngModel >
          <label for="GoodToy">Good</label>
          <input id="NewToy" name="ShapeToy" type="radio" value="New" ngModel >
          <label for="NewToy">New</label>
        </div>
      </div>
      <!---------------------------- Book Form -->
      <ng-template #book4>
      <div class="pets-weight">
        <label>Shape Of The Book</label>
        <div class="radio-container">
          <input id="BadBook" name="ShapeBook" type="radio" value="Bad" ngModel required>
          <label for="BadBook">Bad</label>
          <input id="AcceptableBook" name="ShapeBook" type="radio" value="Acceptable" ngModel >
          <label for="AcceptableBook">Acceptable</label>
          <input id="GoodBook" name="ShapeBook" type="radio" value="Good" ngModel >
          <label for="GoodBook">Good</label>
          <input id="NewBook" name="ShapeBook" type="radio" value="New" ngModel >
          <label for="NewBook">New</label>
        </div>
      </div>
    </ng-template>
      <!--------------------------------------------------->
    </header>
    <footer>
      <div class="set">
        <button id="back" routerLink="/">Back</button>
        <button id="next" type="submit" [disabled]="!f.valid" >Submit</button>

      </div>
      <!-------------------  MODAL     ----------------------->



    </footer>
  </form>

  </div>
  </div>


