/*     14. Footer     */
/**********************/
.footer-frame {
  width: 100%;
  height: 1.5rem;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  background-color: #5f4dee;
}

.footer .footer-col {
  margin-bottom: 2.25rem;
}

.footer h4 {
  margin-bottom: 0.625rem;
  color: #fff;
}

.footer .list-unstyled,
.footer p {
  color: #f3f7fd;
}

.footer .footer-col.middle .list-unstyled .fas {
  color: #fff;
  font-size: 0.5rem;
  line-height: 1.5rem;
}

.footer .footer-col.middle .list-unstyled .media-body {
  margin-left: 0.5rem;
}

.footer .footer-col.last .list-unstyled .fas {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.footer .footer-col.last .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.footer .footer-col.last .list-unstyled .fas.fa-globe {
  margin-left: 1rem;
  margin-right: 0.625rem;
}

/*************************/
/*     15. Copyright     */
/*************************/
.copyright {
  padding-top: 1rem;
  padding-bottom: 0.375rem;
  background-color: #5f4dee;
  text-align: center;
}

.copyright .p-small {
  padding-top: 1.375rem;
  border-top: 1px solid #718ad1;
  color: #f3f7fd;
}

.copyright a {
  color: #f3f7fd;
  text-decoration: none;
}
