<article class="card card-product-list">
    <div class="row no-gutters">
        <aside class="col-md-3">
            <a href="#" class="img-wrap">
                <img src="../../assets/books.jpg" alt="image">
            </a>
        </aside> <!-- col.// -->
        <div class="col-md-6">
            <div class="info-main">
                <h3 class="title"> {{book.titre}} </h3>
                <p>{{book.description}}</p>
            </div> <!-- info-main.// -->
        </div> <!-- col.// -->
        <aside class="col-sm-3 content">
            <div class="info-aside">
                    <a href="#" role="button" class="btn btn-primary"> Receive </a>
                    <a href="#" role="button" class="btn btn-danger"><i class="fa fa-heart"></i> 
                        <span class="text">Add to wishlist</span>
                    </a>
            </div> <!-- info-aside.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
</article> <!-- card-product .// -->   