<div class="navbar">
    <ul>
    <li><a routerLink="/users"><i class="fa  fa-users"></i> User</a></li>
    <li><a  routerLink="/association"><i class="fa fa-home"></i> Association</a></li>  
      <li><a  routerLink="/village"><i class="fa fa-home"></i> Village d'Enfants</a></li>
      <li><a  routerLink="/maison"><i class="fa fa-home"></i> Maison de retraite</a></li>
      
    </ul>
  </div>
  <div class="content">
    <p>dwjudh</p>
    <p>dwjudh</p>
    <p>dwjudh</p>
    <p>dwjudh</p>
    <p>dwjudh</p>
    <p>dwjudh</p>
    <p>dwjudh</p>
    <p>dwjudh</p>
    <p>dwjudh</p>
    <p>dwjudh</p>
  </div>