
    <!-- ========================= SECTION PAGETOP ========================= -->
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">Books and Toys</h2>
                <nav>
                    <p class="breadcrumb-item active" aria-current="page">Exchange Products</p>
                </nav>
        </div> <!-- container //  -->
        </section>
        <!-- ========================= SECTION INTRO END// ========================= -->

        <!-- ========================= SECTION CONTENT ========================= -->
        <section class="section-content padding-y">
        <div class="container">

        <div class="row">
            <aside class="col-md-3">

        <div class="card">
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Product type</h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_1">
                    <div class="card-body">
                        <form class="pb-3">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-append">
                            <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                        </form>

                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group  .// -->
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Book</h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_2">
                    <div class="card-body">
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" checked="" class="custom-control-input">
                          <div class="custom-control-label">Academic
                              <b class="badge badge-pill badge-light float-right">120</b> </div>
                        </label><br>
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" checked="" class="custom-control-input">
                          <div class="custom-control-label">Novel
                              <b class="badge badge-pill badge-light float-right">15</b>  </div>
                        </label><br>
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" checked="" class="custom-control-input">
                          <div class="custom-control-label">Scientific
                              <b class="badge badge-pill badge-light float-right">35</b> </div>
                        </label><br>
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" checked="" class="custom-control-input">
                          <div class="custom-control-label">Dictionary And Language
                              <b class="badge badge-pill badge-light float-right">89</b> </div>
                        </label><br>
                        <label class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input">
                          <div class="custom-control-label">Art, Music And Cinema
                              <b class="badge badge-pill badge-light float-right">30</b></div>
                        </label><br>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">History
                                <b class="badge badge-pill badge-light float-right">30</b>  </div>
                          </label>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group .// -->
            </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-md-9">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto"><b>{{itemCount}}</b> Items found </span>
                        <select class="mr-2 form-control" (change)="filterDataByType($event);">
                            <option value="" selected>All Products</option>
                            <option value="book">Books</option>
                            <option value="toy">Toys</option>

                        </select>
                    </div>
                </header>                
                <div *ngFor="let x of data | sortByType:inte: 'type'">
                    <div *ngIf="x.type=='book' && x.donate==false;">
                        <app-card [book]="x"></app-card>
                    </div>
                    <div *ngIf="x.type=='toy' && x.donate==false;">
                        <app-card [toy]="x"></app-card>
                    </div>
                </div>

            </main> <!-- col.// -->

        </div>

        </div> <!-- container .//  -->
</section>
