@import "../../assets/fontawesome-all.css";
.section-pagetop {
  margin: 1.2rem;
}
.card {
  min-height: 100%;
}
.card-body .custom-checkbox {
  display: flex;
  justify-content: left;
  align-items: center;
}
