/*    04. Header     */
/*********************/
.header {
  background-color: #5f4dee;
  width: inherit;
}

.header .header-content {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
}

.header .text-container {
  margin-bottom: 3rem;
}

.header h1 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
}

.header .p-large {
  margin-bottom: 2rem;
  color: #f3f7fd;
}
.header .p-small {
  margin-bottom: 2rem;
  color: #f3f7fd;
}

.header .btn-solid-lg {
  margin-right: 0.5rem;
  margin-bottom: 1.125rem;
  margin-left: 0.5rem;
  border-color: #f3f7fd;
  background-color: #f3f7fd;
  color: #5f4dee;
}

.header .btn-solid-lg:hover {
  background: transparent;
  color: #f3f7fd;
}

.header .btn-outline-lg {
  border-color: #f3f7fd;
  color: #f3f7fd;
}

.header .btn-outline-lg:hover {
  background-color: #f3f7fd;
  color: #5f4dee;
}

.header-frame {
  margin-top: -1px; /* To remove white margin in FF */
  width: 100%;
  height: 2.25rem;
}
