<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row-lg">
                <div class="text-container">
                    <h1>Exchange Books and Toys</h1>
                    <p class="p-large">A web application where you can donate, exchange items with our <i>connected</i> users around the world!</p>
                    <a class="btn-solid-lg" href="sign-up.html">SIGN UP</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
